.box {
  position: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.box .header {
  position: relative;
  width: 80%;
  /* max-width: 700px; */
  padding: 10px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.box .header .Navbar {
  display: flex;
  justify-content: space-between;
  align-items: right;
  padding: 10px 0;
  border-bottom: 1px solid #e6e6e6;
}

.Navbar a {
  text-decoration: none;
  color: black;
  padding: 6px 15px;
  border: 20px;
  margin: 0 10px;
  font-weight: 600;
  border-radius: 20px;
}
.Navbar a:hover,
.Navbar a.active {
  background-color: grey;
  color: white;
}
